<mat-toolbar class="toolbar">
  <div class="logo">
    <mat-icon class="icon">shield</mat-icon>
    <div class="brand">
      <h1>WallEye</h1>
      <p>Sistema de Monitoramento</p>
    </div>
  </div>
  <div class="btn-container">
    <button *ngIf="!detectarLogin()" matButton="outlined" (click)="irRegistrar()" routerLinkActive="active">
      <mat-icon>login</mat-icon> Registro
    </button>

    <button *ngIf="detectarLogin()" matButton="outlined">
      <mat-icon>login</mat-icon> Adicionar Dispositivo
    </button>

    <button *ngIf="!detectarLogin()" matButton="filled" (click)="logar()" routerLinkActive="active">
      <mat-icon>login</mat-icon> Login
  </button>

  <button *ngIf="detectarLogin()" matButton="filled" (click)="logout()">
      <mat-icon>login</mat-icon> Logout
    </button>
  </div>
</mat-toolbar>
